:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --soft-black: #121212;
    --soft-withe: #fefefe;
    --superficial-black: #1d1d1d;

    /* dark theme */
    --bg-color: var(--soft-black);
    --main-text: var(--soft-withe);


    /* btn styles */
    --btn-yellow: #FFA800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    color: var(--main-text);
    background-color: var(--bg-color);
}

p  {
    font-family: League Spartan, Arial;
    color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fefefe;
}

.material-symbols-outlined {
    display: inline-block; /* Asegura que ocupe espacio */
    font-size: 24px;       /* Tamaño estándar */
    color: #333;           /* Color visible (oscuro) */
}

header .left-seaction .material-symbols-outlined {
    color: #fefefe;
}